{% extends "base.html" %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://unpkg.com/reactflow@11.7.4/dist/style.css" rel="stylesheet" />
<link href="https://unpkg.com/reactflow@11.7.4/dist/base.css" rel="stylesheet" />
<link href="{{ url_for('static', filename='dist/index.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="node-editor" class="node-editor-container" data-story='{{ story|tojson|safe }}'></div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='dist/index.js') }}"></script>
{% endblock %}
